<%= form_for @person, :remote => @isremote do |f| %>
<!--   <% if @person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% @person.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %> -->

  <div class="field">
    <%= f.label "I am a" %><br />
    <div class="backselect">
      <%= f.select :persontype, options_for_select(selecttype) %> 
    </div>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label "email address" %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label "high school name" %><br />
    <%= f.text_field :highschool %>
  </div>
  <div class="field">
    <%= f.label :state %><br />  
  <div class="backselect">
    <%= f.select :state, options_for_select(us_states) %>
  </div>

  </div>
  <div class="actions">
    <%= f.submit 'Sign up' %>
  </div>
<% end %>

