<div class="adminpage">
<div class="inneradminpage">
<h1>Highschooltix admin</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Persontype</th>
    <th>Email</th>
    <th>Highschool</th>
    <th>State</th>
    <th>Functions</th>

  </tr>

<% @people.each do |person| %>
  <tr>
    <td><%= person.name %></td>
    <td><%= person.persontype %></td>
    <td><%= person.email %></td>
    <td><%= person.highschool %></td>
    <td><%= person.state %></td>
    <td><%= link_to 'Show', person %>
        | <%= link_to 'Edit', edit_person_path(person) %>
        | <%= link_to 'Destroy', person, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    
  </tr>
<% end %>
</table>

<br />


<%= link_to 'New Person', new_person_path %>
</div>
</div>