<div class="all1">
<div class="innerall1">
	<div class="header">
		<div class="logo1"><%= image_tag ('logo_title.png') %></div>
		<div class="step1"><%= image_tag 'step1.png' %></div>
	</div>


	<div class="text">
		<h1>Sign up...</h1>

		<%= render 'form' %>
	</div>
	<div class="maptemp">
		<%= render 'map' %>
	</div>

	<div class="clear"></div>
</div>
</div>
<div class="cacheimg"><%= image_tag 'bg_smart2.1.png' %></div>

<div id="herecomes"></div>
